<script setup lang="ts">
import { useProductStore } from '@/stores/product';
import type { Product } from '@/types/Product';
import { ref, type Ref } from 'vue';
import ProductList from '@/components/ProductList.vue';
import { nextTick } from 'vue';
const productStore = useProductStore()
const tab = ref(1)
const foodsList = productStore.list('foods')
const drinkList = productStore.list('drink')
const bakeryList = productStore.list('bakery')

const divReceiptItem = ref<HTMLElement | null>(null)

const selected = (p: Product) => {
  nextTick(() => {
    if (divReceiptItem.value) { divReceiptItem.value.scrollTo(0, divReceiptItem.value.scrollHeight) }
  })


}
</script>

<template>
  <main>
    {{ drinkList }}
  </main>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-sheet min-width="300" max-width="600 " height="600" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
            <v-tab :value="1">Foods</v-tab>
            <v-tab :value="2">Drink</v-tab>
            <v-tab :value="3">Bakery</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="foodsList" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="drinkList" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="bakeryList" @selected-product="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>
