<script setup lang="ts">
import { inject,type  Ref } from 'vue';

const drawer = inject<Ref<boolean>>('drawer')
const titleBar = inject<Ref<string>>('title')
</script>

<template>
    <div>
        <v-navigation-drawer  v-model="drawer" :width="200" >
            <v-list density="compact" nav >
              <v-list-item
                prepend-icon="mdi-account-group"
                title="Users"
                value="users"
                @click="titleBar = 'Users'"
                :to="{name: 'user'}"
              ></v-list-item>
              <v-list-item
                prepend-icon="mdi-information-variant-circle"
                title="About"
                value="about"
                @click="titleBar = 'About'"
                :to="{path: '/about'}"
              ></v-list-item>
            </v-list>
          </v-navigation-drawer>
    </div>
</template>
