<script setup lang="ts">
import { inject, type Ref } from 'vue';
import { useUserStore } from '@/stores/user';

const userStore = useUserStore()
const drawer = inject<Ref<boolean>>('drawer')
const titleBar = inject<Ref<string>>('title')
</script>

<template>
  <div>
    <v-app-bar>
      <div style="padding-left: 10px">
        <v-avatar
          color="brown-lighten-2"
          size="40"
          class="mr-3"
          @click.stop="drawer = !drawer"
        >
          <v-img src="src\image\logo/logo.png"></v-img>
        </v-avatar>
      </div>

      <v-app-bar-title> {{ titleBar }} </v-app-bar-title>
      <v-spacer></v-spacer>

      <div class="text-center">
        <v-menu transition="fab-transition">
          <template v-slot:activator="{ props }">
            <v-list-item
              lines="two"
              v-bind="props"
              :prepend-avatar="`src/image/user/user${userStore.currentUser?.id}.png`"
              :title="userStore.currentUser?.fullName"
              :subtitle="userStore.currentUser?.rank"
             
              width="200"
            ></v-list-item>
          </template>
          <v-list>
            <v-list-item v-for="n in 1" :key="n">
              <v-btn @click="userStore.logout()" block color="red" :margin="0" :padding="0">
                Logout
              </v-btn>
            </v-list-item>
          </v-list>
          
        </v-menu>
      </div>
    </v-app-bar>
  </div>
</template>

<style scoped></style>
