<script setup lang="ts">
import { inject, provide, Ref, ref ,computed} from "vue";
import { RouterLink, RouterView } from "vue-router";


import LoginView from "./views/LoginView.vue";
import MainAppBar from "./components/MainAppBar.vue";
import MainMenu from "./components/MainMenu.vue";

import { useUserStore } from "./stores/user";
const userStore = useUserStore();

const drawer = ref(false);
const title = ref('');
provide('drawer', drawer);
provide('title', title);

</script>

<template>
  <div>
    <login-view v-if="userStore.currentUser === null"></login-view>
    <v-layout class="rounded rounded-md" v-else>
      <main-app-bar></main-app-bar>
      <main-menu></main-menu>
      <v-main class="align-center justify-center" style="min-height: 300px">
        <div class="pa-6">
          <router-view></router-view>
        </div>
      </v-main>
    </v-layout>
  </div>
</template>

<style scoped></style>
